// ant-design 覆盖样式
.ant-layout-header {
  background-color: #ffffff !important;
}
.ant-card-body {
  padding: 12px !important;
}
.conf {
  .ant-table-tbody td,
  th {
    height: 100%;
    padding: 0 0 !important;
    font-size: 12px !important;
    overflow: hidden;
    width: 3%;
  }
  .ant-table-thead th {
    font-size: 12px !important;
    padding: 2vh 0px !important;
  }
}
.chatbox-main {
  .ant-card-body {
    padding: 0 !important;
  }
}
.ant-card-grid {
  padding: 15px 24px;
}
.ant-table-row-level-0 {
  // border-top: 1px solid #ccc !important;
}

// .ant-table-thead > tr:first-child > th:nth-child(1) > span > div::before,
// .ant-table-thead > tr:first-child > th:nth-child(2) > span > div::before {
//   display: none;
// }
// .ant-table-thead > tr:first-child > th > span > div::before {
//   content: "";
//   border: 1px solid #ccc;
//   /* margin: 0; */
//   /* border-left-color: #ccc; */
//   height: 8px;
//   width: 8px;
//   position: absolute;
//   top: 20px;
//   /* left: 0px; */
//   margin-left: -10px;
//   /* color: inherit; */
//   border-width: 0 1px 1px 0;
//   transform: rotateZ(-45deg);
//   margin-left: -14px;
//   background-color: #fafafa;
// }
// .ant-table-thead > tr:first-child > th > span > div {
//   display: block;
//   width: 50px;
// }
.ant-table-thead > tr:first-child > th {
  height: 45px !important;
}
.ant-table-row > td > div.full {
  height: 45px !important;
  line-height: 45px !important;
}
