// ant-design 覆盖样式
.ant-layout-header {
  background-color: #ffffff !important;
}
.ant-card-body {
  padding: 12px !important;
}
.conf {
  .ant-table-tbody td,th {
    height: 100%;
    padding: 0 0 !important;
    font-size: 12px !important;
    overflow: hidden;
    width: 3%;
  }
  .ant-table-thead th {
    font-size: 12px !important;
    padding: 2vh 0px !important;
  }
}
.chatbox-main {
  .ant-card-body {
    padding: 0 !important;
  }
}
.ant-card-grid{
  padding: 15px 24px;
}